/node_modules
/public/hot
/public/storage
/public/argon
/public/assets
/storage/*.key
/vendor
/ssl
.env
.env.production
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
release.zip


/public/vendor/adminlte
/public/vendor/bootstrap
/public/vendor/chart.js
/public/vendor/datatables
/public/vendor/datatables-plugins
/public/vendor/fontawesome-free
/public/vendor/jquery
/public/vendor/overlayScrollbars
/public/vendor/popper
/public/vendor/select2
/public/vendor/select2-bootstrap4-theme
/public/vendor/web-tinker



public/argonx/
public/assetsx/
resources/views/dashboardx.blade.php
resources/views/layoutsx/
resources/views/pagesx/
resources/views/profilex/
resources/views/usersx/